/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Roboto', sans-serif;
}

body {
  font: 1em/1.5;
	color: #8f26eb;
	background: linear-gradient(to top, #9f7df5, #8f26eb);
	background: 
		linear-gradient(to top, rgba(159, 125, 245, 0.8), rgba(143, 38, 235, 0.8)),
		url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-attachment: fixed;
}

header {
	text-align: center;  
	color: #fff;
}

span {
	font-size: 1.5rem;
}

h1 {
	font-size: 6.5em;
	margin: 0;
	transform: rotate(-7deg);
	font-family: 'Sriracha', cursive;
	text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin-bottom: 100px;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: 500;
	padding-top: .5em;
	border-top: 2px solid #8f26eb;
	margin-bottom: 1.125em;
	font-family: 'Sriracha', cursive;
	font-size: 1.4rem;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #d3c2fd;
	border: 2px solid #d3c2fd;
	outline: none;
}

input:focus {
	background: #fff;
	border-color: #d3c2fd;
	transition: border-color .4s, background-color .4s;
}


select {
	padding: .8em .8em .8em .4em;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #9f7df5;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	transition: background 0.2s;
}

button:hover {
	background: #8f26eb;

}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}